<div>
 <form name="reg.regForm" novalidate>
  
<div class="col-xs-3" >
  <input type="text" class="form-control" name="lastname" placeholder="Enter lastname"
          ng-model="reg.lastname"
          required
          minlength="4"
          ng-maxlength="10">
          <span
            ng-if="(reg.regForm.lastname.$error.minlength || reg.regForm.lastname.$error.required) && reg.regForm.lastname.$touched">
            lastname must be at least 4 characters long
          </span>
          <span ng-if="reg.regForm.lastname.$error.maxlength && reg.regForm.lastname.$touched">
            lastname must not be longer than 10 characters
          </span>
          <br> 

  <input type="text" class="form-control" name="firstname" placeholder="Enter firstname"
          ng-model="reg.firstname"
          required
          minlength="4"
          ng-maxlength="10">
          <span
            ng-if="(reg.regForm.firstname.$error.minlength || reg.regForm.firstname.$error.required) && reg.regForm.firstname.$touched">
            firstname must be at least 4 characters long
          </span>
          <span ng-if="reg.regForm.firstname.$error.maxlength && reg.regForm.firstname.$touched">
            firstname must not be longer than 10 characters
          </span>
          <br> 
         
  <input type="text" class="form-control" name="shot_name" placeholder="Favorite menu number"
          ng-model="reg.short_name"
          required>
            <span
            ng-if="(reg.regForm.short_name.$error.required) && reg.regForm.short_name.$touched">menu number required</span>
          <span ng-show="reg.err">No such menu number exists</span>
           <br> </span>
 <input type="email" class="form-control" name="email" placeholder="Email"
          ng-model="reg.email"
          required>
          <span ng-if="reg.regForm.email.$invalid && reg.regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" class="form-control" name="phone" placeholder="Phone ###-###-####"
          ng-model="reg.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if=""reg.check_status && reg.regForm.phone.$invalid && reg.regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
    
<button  ng-disabled="reg.regForm.$invalid" ng-click="reg.submit()">Submit</button>
<br>     
</div> 
</form>
</div>
